[Desktop Entry]
Name=SlopeCraft
Comment=Map Pixel Art Generator for Minecraft
Exec=SlopeCraft
Icon=com.github.SlopeCraft.SlopeCraft.png
Type=Application
Keywords=SlopeCraft;