*.idx
compile_commands.json
*.qm

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
.qt/
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps

### Compiled Files ###
moc*
qrc*
ui_*.h

### CMake Install ###
install/

### macOS File System ###
.DS_Store

### 3rdParty libs ###
3rdParty/*
.vscode/settings.json

### build ###
build/*
binaries/*
.vscode/*
.vs/*
.cache/*

### CLion ###
.idea/*
cmake-build-*

### PyCharm ###
py/preprocessed
py/outputs
