#include <windows.h>

IDI_ICON1	ICON	"SlopeCraftIconNew.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 3,9,0,0
	PRODUCTVERSION 3,9,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE VFT2_UNKNOWN
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "000404b0"
			BEGIN
				VALUE "CompanyName", "\0"
				VALUE "FileDescription", "Minecraft Map Pixel Art Tool\0"
				VALUE "FileVersion", "3.9.0.0\0"
				VALUE "LegalCopyright", "Copyright TokiNoBug 2021-2022\0"
				VALUE "OriginalFilename", "SlopeCraft.exe\0"
				VALUE "ProductName", "SlopeCraft\0"
				VALUE "ProductVersion", "3.9.0.0\0"
				VALUE "InternalName", "SlopeCraft\0"
				VALUE "Comments", "Main program of SlopeCraft\0"
				VALUE "LegalTrademarks", "Published under GPLv3 license\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0004, 1200
		END
	END

