[Desktop Entry]
Name=VisualCraft
Comment=Visual Pixel Art Generator for Minecraft
Exec=VisualCraft
Icon=com.github.SlopeCraft.VisualCraft.png
Type=Application
Keywords=SlopeCraft;